.THIS .container{
    height : auto; width: 80%; max-width: 70vh;margin :0px auto;
}
.THIS .modal-body{ 
    height : 50vh !important; 
    max-height: 50vh !important; 
} 
.THIS .slds-modal__footer{ 
    display: inline !important; 
}